.root {
    color: rgb(255, 255, 255);
}

* {
    font-family: 'Figtree', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
/* 
Colors
#EFE7DA
#B29079
#E1DACA
#C1B6A4
#F6F5EC
*/

/* Common Sections */
.commonSection {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    background: #E1DACA;
    /* background-color: #CBAD8D; */
    /* height: 600px; */
}

.commonSection h2 {
    color: #ffffff; 
}

.headingBox {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-top: 15px;
    background-color: #C1B6A4;
    border-radius: 2%;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 15px; 
    font-size: 35px;
}

h3 {
    font-size: 50px;
}

h4 {
    font-size: 35px;
}

p {
    font-size: 25px;
}

h3, p, h4 {
    margin-bottom: 30px;
}

img {
    border-radius: 2%;
}

/* Nav */

.nav {
    position: sticky;
    top: 0;
    background-color: #C1B6A4;
    padding: 15px;
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
}

.logo {
    margin-left: 10px;
    color: #ffffff;
    font-size: 1.5em;
}

.navList {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItem {
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
}

#navBooking {
    padding: 15px;
    background-color: #B29079;
    border-radius: 5%;
    margin-right: 10px;
    color: #ffffff;
    font-size: 35px;
}

/* Header and Header Img */

header {
    position: relative;
    height: 110vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0; 
}

.headerImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 0%;
}

/* Section 1 - Our Services */
.sectionServices {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
}

.serviceContainer {
    display: flex;
    flex-direction: row; /* Updated to row */
    justify-content: start;
    align-items: center;
    max-width: 800px;
    margin-left: 25px;
    background-color: #B29079;
    border-radius: 2%;
}

.imgContainer {
    width: 100%;
    margin-bottom: -4px;
}

.textContainer {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: column;
    /* margin-left: 210px; */
    width: 58%;
}



/* Section 2 - About Us */

.aboutContentContainer {
    display: flex;
    justify-content: start;
    align-items: start;
    /* margin-left: 25px; */
    background-color: #B29079;
    /* margin-right: 25px; */
    border-radius: 2%;
}

.aboutImageContainer {
    margin-bottom: -4px;
}

.aboutTextContainer {
    /* padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px; */
    font-size: 25px; 
}



/* Section 3 - Social Media */

.slideshow-container {
    max-width: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.mySlides {
    display: none;
}

.socialMediaImgs{
    width: 100%;
    border-radius: 8px;
}

/* Navigation arrows */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #ff9494;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Section 4 - Location & Hours */

.alignItems {
    display: flex;
    justify-content: start;
    align-items: start;
    height: 310px;
    width: 900px;
    font-size: 15px;
    background-color: #B29079;
    border-radius: 2%;
    /* margin-left: 400px; */
    margin-bottom: 20px;
}

.locationDetails {
    /* margin-left: 10px; */
    margin-top: 10px;
    font-size: 25px;
}

.openingHours {
    /* margin-left: 40px; */
    margin-top: 10px;
    font-size: 25px;
}

li {
    list-style: none;
}

/* Footer */
#footer {
    background-color: #353535;
    color: #CBAD8D;
    padding: 20px;
    text-align: center;
}

.socialIcons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.socialIcons li {
    margin: 0 10px;
}

.socialIcons a {
    text-decoration: none;
    color: #CBAD8D;
    font-size: 20px;
}

/* Responsive Mobile App */

@media only screen and (max-width: 600px) {

    body {
        margin: 0;
    }

    /* Nav */

    /* Common Sections */
    .commonSection {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        flex-wrap: wrap;
        background: #E1DACA;
        /* background-color: #CBAD8D; */
        /* height: 600px; */
}

    h3 {
        font-size: 40px;
    }
    
    h4 {
        font-size: 35px;
    }
    
    p {
        font-size: 25px;
    }

    /* Header Img */

    .headerImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        border-radius: 0%;
    }

    /* Services */
    .sectionServices {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }
    
    .serviceContainer {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        max-width: 89%;
        /* margin-left: 25px; */
        background-color: #B29079;
        border-radius: 2%;
    }
    
    .imgContainer {
        width: 100%;
        /* margin-bottom: -4px; */
    }

    .imgContainer img {
        width: 100%;
    }

    #serviceContainerMobileResponsiveness {
        margin-bottom: 20px;
    }
    
    .textContainer {
        /* display: flex;
        justify-content: baseline;
        align-items: baseline; */
        /* flex-direction: column; */
        /* margin-left: 230px; */
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Section 2 - About Us */

    .aboutContentContainer {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        /* margin-left: 0; */
        background-color: #B29079;
        /* margin-right: 25px; */
        /* border-radius: 2%; */
        max-width: 89%; 
        margin: 0 auto; 
        
    }

    .aboutImageContainer img {
        max-width: 100%;
    }

    .aboutTextContainer {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        font-size: 25px; 
        width: 100%;
        
    }

    /* Section 3 - Social Media */

    .slideshow-container {
        max-width: 89%;
        margin: auto;
        position: relative;
        overflow: hidden;
    }

    /* .mySlides {
        display: none;
    } */

    /* .socialMediaImgs{
        width: 100%;
        border-radius: 8px;
    } */

    /* Section 4 - Location & Hours */

    .alignItems {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        height: 100%;
        width: 89%;
        /* font-size: 15px; */
        /* background-color: #B29079; */
        /* border-radius: 2%; */
        margin: auto;
        padding: 10px;
        margin-bottom: 20px;
    }

}

@media only screen and (min-width: 601px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 768px) {

}